html, body
{
	height: 100%;
}

body
{
	padding: 0;
	margin: 0;
	background-color: #444;
	font-family: "serif";
}

#content
{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}

#content > *
{
	display: inline-block;
	vertical-align: top;
	box-shadow: 5px 5px 25px #222;
}

#canvas
{
	border: 0px;
	margin: 1em;
}

#picture
{
	display: none;
}

#settings
{
	float: left;
	overflow-y: auto;
	height: 100%;
	max-width: 40em;
	background-color: #222;
	font-size: 12pt;
	color: #aaa;
	border-radius: 5px;
}

#settings > *
{
	margin-left: 1em;
}

#settings > ol > li
{
	margin: 1em;
}

.divider
{
	margin-left: 1em;
	margin-right: 1em;
	background: #fff;
	height: 0px;
	border: 3px solid #ccc;
	border-radius: 5px;
}

.help
{
	border-radius: 5px;
	margin-left: 1em;
	margin-right: 1em;
}

.error
{
	color: #fff;
	background-color: #f00;
}

.info
{
	color: #000;
	background-color: #82ff82;
}
